.IconNumberButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 400;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  transition: 0.2s;
  background-color: #272b33;
  color: #e9e9e9;
}
.IconNumberButton:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  background-color: #e9e9e9;
  color: #272b33;
}

.IconActionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 400;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  transition: 0.2s;
  background-color: #272b33;
  color: #26f4cf;
}
.IconActionButton:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  background-color: #26f4cf;
  color: #272b33;
}
