.DarkModeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 400;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  transition: 0.2s;
  background-color: #272b33;
  color: #e9e9e9;
}
.DarkModeButton:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  background-color: #e9e9e9;
  color: #272b33;
}

.LightModeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 400;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transition: 0.2s;
  background-color: #fff;
  color: #272b33;
}
.LightModeButton:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  background-color: #272b33;
  color: #e9e9e9;
}
